/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e1e1e1;
}

ul {
    list-style-type: none;
}

/* utilities css */
.flex {
    display: flex;
}

.fl-cntr {
    justify-content: center;
    align-items: center;
}

.fl-wrap {
    flex-wrap: wrap;
}

.grid {
    display: grid;
}

.grid-centered {
    place-items: center;
}

.btn {
    border: 0;
    outline: 0;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    font-size: 20px;
    cursor: pointer;
}

/* project css */
.project {
    margin-top: 3rem;
}

.project-title {
    margin-bottom: 3rem;
}

.project-hero {
    width: 100%;
    height: 800px;
}

.project-title span {
    font-family: 'Merienda', cursive;
    font-weight: 900;
}

.project h1,
.project h2 {
    text-align: center;
}

form {
    margin: 2rem 3rem;
    gap: 2rem;
    margin-top: 3rem;
}

.project a {
    text-decoration: none;
    color: inherit;
}

.form-with-cards {
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    height: 300px;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 150ms;
}

.card:hover {
    box-shadow: 0.2rem 0.2rem 0.8rem #1f1f1f;
}

.card a {
    text-decoration: none;
    color: inherit;
    flex-direction: column;
    gap: 2rem;
}

.card a h2 {
    font-size: 2.2rem;
}

.card a li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.form-with-inputs .btn {
    font-size: 1.5rem;
    box-shadow: none;
    transition: box-shadow 150ms;
    position: relative;
}

.form-with-inputs .btn .btn-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    opacity: 0;
    transition: all 150ms ease;
}

.form-with-inputs .btn .btn-label {
    display: inline-block;
    transform: translateX(0);
    transition: transform 150ms;
}

.form-with-inputs .btn:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #3d3d3d;
}

.form-with-inputs .btn:hover .btn-label {
    transform: translateX(-10px);
}

.form-with-inputs .btn:hover .btn-icon {
    right: 10px;
    opacity: 1;
}

.card-cl,
.btn-classes {
    background-color: hsl(120, 65%, 55%);
}

.card-fe,
.btn-features {
    background-color: hsl(160, 65%, 55%);
}

.card-mo,
.btn-monsters {
    background-color: hsl(200, 65%, 55%);
}

.card-sp,
.btn-spells {
    background-color: hsl(240, 65%, 75%);
}

.details-list {
    grid-template-columns: repeat(4, 1fr);
}

.details-list a:nth-child(2n) li {
    background-color: #c1c1c1;
    box-shadow: 6px 6px 8px #7b7b7b;
}

.details-list a:nth-child(2n + 1) li {
    background-color: #9d9d9d;
    box-shadow: 3px 4px 8px #5d5d5d;
}

.details {
    margin: 1rem;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    width: 300px;
    height: 100px;
    scale: 1;
    transition: scale 150ms;
}

.details:hover {
    scale: 1.05;
}

.details p {
    padding: 0.2rem;
}

/* class styles */
.class {
    width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    flex-direction: column;
}

.class h2 {
    margin-bottom: 2rem;
}

.class h3 {
    margin-top: 2rem;
}

.class-card {
    padding: 0.6rem;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 8px black;
}

.class-card-left {
    flex-direction: column;
    gap: 2rem;
}

.class-card-right img {
    height: auto;
}

.class-card label {
    font-weight: bold;
}

.class-card p {
    margin-left: 1rem;
}

.class-card li {
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    margin-right: 1rem;
}

.class-sub-list li,
.class-prof-list li,
.class-se-list li {
    position: relative;
}

.class-sub-list li::after,
.class-prof-list li::after,
.class-se-list li::after {
    position: absolute;
    content: ',';
    right: 0;
}

.class-sub-list li:last-child::after,
.class-prof-list li:last-child::after,
.class-se-list li:last-child::after {
    display: none;
}

/* features styles */
.feature {
    width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
}

.feature-card th,
.feature-card td {
    border: 2px solid black;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

.feature-card th {
    width: 200px;
}

/* monster styles */
.monster {
    justify-content: space-evenly;
    margin-top: 10rem;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
}

.monster-card-left {
    gap: 2rem;
    flex-direction: column;
}

.monster-card-left .monster-name {
    margin-top: 1rem;
}

.monster-senses-item {
    margin: 0.4rem 0;
}

.monster-senses-item p {
    display: inline-block;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin-right: 0.4rem;
}

.monster-card-right {
    flex-direction: column;
    max-width: 650px;
}

.monster-card-left,
.monster-details,
.monster-features {
    padding: 1rem;
    border-radius: 0.4rem;
}

.monster-img img {
    border-radius: 0.4rem;
    height: 300px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}

.monster-details {
    justify-content: space-between;
    gap: 1rem;
}

.monster-stats {
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    gap: 1rem;
}

.monster-stats-logo {
    height: 50px;
}

.monster-details div {
    margin: 1rem 0;
}

.type {
    font-weight: 900;
    margin-bottom: 1rem;
}

.value {
    font-size: 2rem;
}

.monster-features {
    gap: 2rem;
    flex-direction: column;
}

.monster-sa-list,
.monster-actions-list,
.monster-la-list {
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.monster-sa-item,
.monster-actions-item,
.monster-la-item {
    padding: 1rem;
    font-size: 18px;
    max-width: max-content;
    border-radius: 0.4rem;
}

.monster-sa-item {
    background-color: #278ceb;
}

.monster-actions-item {
    background-color: #13c684;
}

.monster-la-item {
    background-color: #cf2525;
    color: white;
}

/* spells styles */
.spell {
    width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    flex-direction: column;
}

.spell h2 {
    margin-bottom: 2rem;
}

.spell h3 {
    margin-top: 2rem;
}

.spell-card {
    gap: 2rem;
    padding: 0.6rem;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 8px black;
}

.spell-card-left-hl {
    column-gap: 5rem;
    margin-bottom: 1rem;
}

.spell-card-right img {
    height: 500px;
}

.spell-card label {
    font-weight: bold;
}

.spell-card p {
    margin-left: 1rem;
}

.spell-card li {
    border-radius: 0.4rem;
    padding: 0.6rem;
    margin-top: 0.4rem;
    margin-right: 1rem;
}

.spell-desc-list,
.spell-higher_level-list {
    flex-direction: column;
    padding-left: 40px;
}

.spell-comp-list li,
.spell-classes-list li,
.spell-sub-cl-list li {
    position: relative;
}

.spell-comp-list li::after,
.spell-classes-list li::after,
.spell-sub-cl-list li::after {
    position: absolute;
    content: ',';
    right: 0;
}

.spell-comp-list li:last-child::after,
.spell-classes-list li:last-child::after,
.spell-sub-cl-list li:last-child::after {
    display: none;
}
